<html>
  <head>
    <title>Login Credentials</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Email: </span>
      <span>{{email}}</span>
    </div>
    <div>
      <span style="font-weight: bold;">Temp Password: </span>
      <span>{{password}}</span>
    </div>
  </body>
</html>